/* الاخوة المجاورين */


.div1{
    background-color: aqua;
}

.div2{
    background-color: rgb(255, 153, 0);
}




/* معناه لون الشقيق المجاور لل اش2 وفقط مهم لازم المجاور ولازم يكون تحتو  */

h2 + p{
    color: rgb(255, 255, 255);
}

/* generale sibling selector: ~  
 المهم اخ مش شرط مجاور ولكن شرط تحتو 
*/

.div2 h2 ~ p{
    color: red;
}

